/* write your css here */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
  position: relative;
}
.contact-us {
  width: 900px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 55px;
}
.heading {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  text-align: center;
}
.heading h3 {
  font-size: 30px;
}
.heading p {
  color: grey;
}
form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name-div {
  display: flex;
  gap: 30px;
}
.firstname,
.lastname {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.firstname input,
.lastname input,
.fields input,
.text-area-message {
  width: 220px;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.328);
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.158);
  border-radius: 4px;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fields input {
  width: 472px;
}
.text-area-message {
  width: 472px;
  height: 100px;
}
.phone::placeholder {
  padding-left: 10px;
}
.phone::placeholder::before {
  content: "⬇️";
}
.toggle-off {
  height: 30px;
  width: 30px;
  border: none;
}
.notification {
  display: flex;
  gap: 15px;
  align-items: center;
  color: grey;
  align-self: flex-start;
  font-size: 13px;
}
.policy a {
  color: rgba(72, 72, 224, 255);
  font-weight: bold;
}
.lets-talk {
  background-color: rgba(72, 72, 224, 255);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 8px;
  font-weight: bold;
}
label {
  font-size: 12px;
  font-weight: bold;
}
.gradient1 {
  position: absolute;
  height: 180px;
  width: 400px;
  top: 20px;
  left: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(
      circle at 0 50%,
      rgba(240, 144, 255, 0.6),
      transparent 50%
    ),
    radial-gradient(circle at 0 100%, rgba(240, 144, 255, 0.4), transparent 50%); /*0 transparent*/
  background-size: cover;
  filter: blur(50px);
}
.gradient2 {
  position: absolute;
  height: 100px;
  width: 200px;
  top: 0px;
  left: 450px;
  border-radius: 50%;
  background: radial-gradient(
    circle at 0 50%,
    #b7a3e3,
    transparent 120%
  ); /*0% not visible */
  background-size: cover;
  filter: blur(50px);
}
.country-code {
  height: 32px;
  width: 48px;
  border-radius: 4px 0 0 4px;
  align-self: center;
  cursor: pointer;
  padding-left: 5px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.328);
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.006);
  border-right: none;
  color: rgba(128, 128, 128, 0.609);
}
.field-phone {
  display: flex;
  justify-content: start;
  border: none;
  height: 30px;
  align-items: center;
}
.field-phone input {
  border: none;
  width: 425px;
  align-self: center;
  border-radius: 0 4px 4px 0;
  border: 1px solid rgba(128, 128, 128, 0.328);
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.006);
  height: 30px;
  border-left: none;
}
.notification input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
  left: -9000px;
  position: absolute;
}
.notification input[type="checkbox"] + .policy {
  color: rgb(121, 121, 122);
  font-weight: 400;
  display: flex;
  position: relative;
  align-items: center;
  gap: 5px;
}
.notification input[type="checkbox"] + .policy::before {
  content: " ";
  height: 18px;
  width: 35px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.386);
  border-radius: 40px;
  margin-right: 3px;
}

.notification input[type="checkbox"] + .policy::after {
  content: " ";
  height: 17px;
  position: absolute;
  left: 1px;
  cursor: pointer;
  width: 16px;
  background-color: white;
  border-radius: 50%;
}
.notification input[type="checkbox"]:checked + .policy::after {
  left: 18px;
}
.notification input[type="checkbox"]:checked + .policy::before {
  background-color: rgba(72, 72, 224, 255);
}
button , a{
  cursor: pointer;
}