/* write your css here */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
.contact-us {
  width: 900px;
  position: relative;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 55px;
}
.heading {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 10px;
  align-self: center;
  text-align: center;
}
.heading h3 {
  font-size: 30px;
}
.heading p {
  color: grey;
}
form {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name-div {
  display: flex;
  gap: 30px;
}
.firstname,
.lastname {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.firstname input,
.lastname input,
.fields input,
.text-area-message {
  width: 220px;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.328);
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.158);
  border-radius: 4px;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fields input {
  width: 472px;
}
.text-area-message {
  width: 472px;
  height: 100px;
}
.phone::placeholder {
  padding-left: 10px;
}
.phone::placeholder::before {
  content: "⬇️";
}
.toggle-off {
  height: 30px;
  width: 30px;
  border: none;
}
.notification {
  display: flex;
  gap: 10px;
  align-items: center;
  color:grey;
  align-self: flex-start;
  font-size: 13px;
}
.policy span {
  color: rgba(72, 72, 224, 255);
  font-weight: bold;
}
.lets-talk {
  background-color: rgba(72, 72, 224, 255);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 8px;
  font-weight: bold;
}
label {
  font-size: 12px;
  font-weight: bold;
}
.gradient1 {
  position: absolute;
  height: 130px;
  width: 300px;
  top: 30px;
  left: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(
      circle at 0 50%,
      rgba(240, 144, 255, 0.6),
      transparent 50%
    ),
    radial-gradient(circle at 0 100%, rgba(240, 144, 255, 0.6), transparent 50%);
  background-size: cover;
  filter: blur(50px);
  /* overflow: hidden; */
}
.gradient2 {
  position: absolute;
  height: 180px;
  width: 200px;
  top: 10px;
  left: 180px;
  border-radius: 50%;
  background: radial-gradient(circle at 0 50%, #b7a3e3, transparent 80%);
  background-size: cover;
  filter: blur(50px);
}
