/* write your css here */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
main {
  background-color: white;
  margin: auto 0;
  padding: 30px;
}
.newsletter {
  width: 100%;
  position: relative;
  background-color: rgba(16,24,38,255);
  height: 635px;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  background: radial-gradient(ellipse at bottom, rgba(58,35,75,255) 10%, rgba(16,24,38,255) 70%);
}
.newsletter section {
  height: 500px;
  width: 750px;
  gap: 45px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}
.newsletter section h2 {
  color: white;
  align-self: center;
  font-size: 45px;
  text-align: center;
}
.heading{
  align-self: center;
  display: flex;
  flex-direction: column;

}
.heading p {
  color: rgba(255, 255, 255, 0.627);
  text-align: center;
  line-height: 1.8;
  width: 650px;
  align-self: center;
  margin-top: 7px;
  font-size: 18px;
}
.notify {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.notify input {
  width: 390px;
  height: 27px;
  padding: 10px;
  font-size: 15px;
  align-self: center;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.187);
  border: 1px solid rgba(230, 226, 226, 0.15);
}
.notify input:focus{
  color:rgba(255, 255, 255, 0.627);
}
.notify button {
  background-color: white;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  font-weight: 700;
}
button:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.187);
  color: white;
  transition-duration: 300ms;
}

