/* write your css here */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
main {
  margin: 0 auto;
  background-color: white;
  padding: 25px 0;
}
.pricing {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  gap:60px;
}
.plans {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap:30px;
  justify-content: center;
}
.plans section ul li {
  list-style: none;
  line-height: 2.3;
  font-size: 12px;
  font-weight: bolder;
  color: rgba(128, 128, 128, 0.728);
}
.plans section ul li::before {
  content: "☑️";
  margin-right: 8px;
}
.heading {
display: flex;
flex-direction: column;
justify-content: center;
gap:10px;
}
.heading p {
  align-self: center;
  line-height: 1.5;
  text-align: center;
  width: 550px;
}
.heading h2 {
  align-self: center;
  text-align: center;
  font-size: 45px;
  width: 600px;
  font-weight: 790;
}
.plans section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: start;
  width: 300px;
  height: 450px;
  padding-left: 20px;
}
.plans div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.basics {
  border-right: 1px solid rgba(164, 164, 164, 0.187);
}
.essentials {
  border-right: 1px solid rgba(164, 164, 164, 0.187);
}
.price-heading {
  font-weight:1000;
  font-size: 15px;
  color: rgba(72, 72, 224, 255);
}
button {
  background-color: rgba(72, 72, 224, 255);
  border: none;
  width: 245px;
  align-self: start;
  padding: 8px;
  color: whitesmoke;
  padding-right: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.details {
  color: grey;
}
.plans-heading {
  font-weight: bolder;
  font-size: 14px;
}
.rate {
  font-size: 45px;
  font-weight: bolder;
}
.rate span {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}
.plan-info {
  color: rgba(128, 128, 128, 0.68);
  font-weight: bold;
  font-size: 12px;
}
.plan-more-info {
  font-size: 13px;
  letter-spacing: 1.2;
  width:270px;
  line-height: 1.7;
}