/* write your css here */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
main {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}
.blog {
  width: 90%;
  padding: 20px 0 30px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.blog header h2 {
  font-weight: 800;
  font-size: 30px;
}
.blog header p {
  color:rgba(99, 96, 96, 0.805);
  font-size: 16px;
  padding-top: 7px;
}
.blog-articles {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.blog-articles article {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  column-gap: 25px;
}
img {
  border-radius: 15px;
}
.details {
  font-size: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.118);
  padding-bottom: 14px;
  color: rgb(105, 103, 103);
  width: 500px;
  line-height: 1.7;
}
.blog-post-heading {
  display: flex;
  gap: 14px;
  font-size: 12px;
  align-items: center;
  color: rgb(105, 103, 103);
}
.blog-post-heading p:nth-child(2) {
  font-weight: bold;
  width: 70px;
  background-color: rgba(249, 250, 251, 255);
  padding: 4px;
  text-align: center;
  color: rgb(128, 128, 128);
  align-self: center;
  font-size: 10px;
  border-radius: 50px;
}
.div-post-right {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.div-post-right h3, .blog section h2 {
  color: rgba(0, 0, 0, 0.861);
}
.author-section li {
  list-style: none;
  line-height: 1.7;
}
.author-section li:first-child {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.861);
  font-weight: bold;
}
.author-section li:last-child {
  font-size: 13px;
  color: rgb(128, 128, 128);
}
.author-section {
  display: flex;
  gap: 15px;
  align-items: center;
}
