/* write your css here */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  background-color: white;
  /* width: 80%; */
  height: 100vh;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 13px;
}
header nav ul {
  display: flex;
  position: relative;
  gap: 50px;
}
header ul li {
  font-weight: bold;
  list-style: none;
}
.logo {
  background-color: none;
  margin-left: 25px;
}
.login-btn {
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: end;
  border: none;
  font-weight: bold;
  margin-right: 12px;
  gap: 3px;
  align-items: center;
  width: 80px;
}
.login-icon {
  height: 20px;
  stroke-width: 3;
  width: 9px;
}
.top-content {
  position: relative;
  margin: 120px auto;
  gap:20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.readmore-icon {
  height: 15px;
  width: 10px;
  stroke-width: 3.5;
}
.read-more {
  height: 10px;
  font-size: 13px;
  align-self: center;
  border: 2px solid rgba(128, 128, 128, 0.107);
  border-radius: 30px;
  gap: 3px;
  width: 320px;
  padding: 8px;
  color: #81828d;
  justify-content: center;
  display: flex;
  letter-spacing: 1.5;
  font-style: "Open Sans";
  text-align: center;
  align-items: center;
}
.read-more span {
  color: rgba(126, 125, 233, 255);
  display: flex;
  align-items: center;
  align-self: center;
  gap: 3px;
  font-weight: 700;
  font-size: 12px;
  font-style: "Open Sans";
}
.details {
  width: 470px;
  align-self: center;
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
  color: #81828d;
  font-style: "Roboto Condensed";
}
.top-content section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top-content h2 {
  align-self: center;
  text-align: center;
  font-weight: bolder;
  width: 580px;
  font-size: 58px;
}
.btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
  gap: 20px;
}
.get-started {
  border: none;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  padding: 8px;
  background-color: rgba(72, 72, 224, 255);
  color: white;
}
.learn-more {
  border: none;
  font-size: 12px;
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 3px;
  background-color: white;
}
.learn-icon {
  height: 12px;
  width: 10px;
  stroke-width: 3;
}
.gradient1 {
  position: absolute;
  height: 200px;
  width: 300px;
  top: 10px;
  left: 60px;
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(
      circle at 0 50%,
      rgba(240, 144, 255, 0.6),
      transparent 50%
    ),
    radial-gradient(circle at 0 100%, rgba(240, 144, 255, 0.6), transparent 50%);
  background-size: cover;
  filter: blur(50px);
}
.gradient2 {
  position: absolute;
  height: 350px;
  width: 400px;
  bottom:420px;
  left:220px;
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(
    circle at 10% 100% ,
    rgba(240, 144, 255, 0.6),
    transparent 50%
  );
  background-size: cover;
  filter: blur(50px);
}
.gradient3 {
  position: absolute;
  height: 280px;
  width: 300px;
  top: -40px;
  left: 650px;
  border: 1px solid black;
  border-radius: 50%;
  background: radial-gradient(circle at 0 50%, #b7a3e3, transparent 60%);
  background-size: cover;
  filter: blur(50px);
}
.gradient4 {
  position: absolute;
  height: 180px;
  width: 180px;
  top: 500px;
  left: 1350px;
  background: radial-gradient(
    circle at 0 80%,
    rgba(240, 144, 255, 0.6),
    transparent 90%
  );
  background-size: cover;
  filter: blur(50px);
}
